<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <img src="assets/logo_hogarfix.png" alt="logo" class="logo">
            <p>
            HogarFix es una plataforma que permite a los usuarios encontrar a la persona indicada para realizar el trabajo que necesitan.
            </p>
            <div class="content-icons">
                <mat-icon aria-hidden="false">facebook</mat-icon>
                <mat-icon aria-hidden="false">phone</mat-icon>
            </div>
            <p class="copyright">Copyright | Todos los derechos reservados HogarFix.</p>
        </div>
    </div>
</footer>
