<h1>Formulario de Contacto</h1>
<div class="info">
    <div class="primary-info">
        <mat-form-field appearance="fill" class="user-info">
            <mat-label>Nombre</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="user-info">
            <mat-label>Correo</mat-label>
            <input matInput type="email">
        </mat-form-field>
    </div>
    <mat-form-field class="text-area">
        <textarea matInput rows="5" cols="40" placeholder="Dinos lo que piensas..."></textarea>
    </mat-form-field>
    <button mat-raised-button class="btn_custom">Enviar</button>
</div>