<h1 class="title">Información Detallada</h1>
<div class="user-detail">
    <ng-container *ngIf="user$ | async as user">
        <div class="user-info">
            <div class="user-info__img">
                <img mat-card-md-image [src]="user.img" alt="Foto perfil">
            </div>
            <div class="user-info__data">
                <h1>{{user.name}}</h1>
                <h3>{{user.job}}</h3>
                <p>{{user.description}}</p>
                <h4>Información de contacto</h4>
                <p>Tel: {{user.phone}}, Correo: {{user.email}}</p>
                <div class="rating">
                    <p>Calificación</p>
                    <star-rating [starType]="'svg'" [rating]="user.rating" [readOnly]="true" 
                                 [labelPosition]="'bottom'" [labelText]="user.rating.toString()">
                    </star-rating>
                </div>
            </div>
        </div>
    </ng-container>
</div>