<mat-card class="card-user">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-subtitle>{{user.job}}</mat-card-subtitle>
        <img mat-card-md-image [src]="user.img"  alt="Foto perfil" class="img_profile">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <star-rating [starType]="'svg'" [rating]="user.rating" [readOnly]="true" [labelPosition]="'bottom'" [labelText]="user.rating.toString()">2.6</star-rating>
      <div>
        {{user.description}}
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button  [routerLink]="['/user', user.id]">Ver más</button>
    </mat-card-actions>
</mat-card>
